extends meta/_layout

block title
  title About page

block variables
  -var top_menu = true
  -var form = true
  -var teaser = true

block content
  section.about
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title О компании

    .container
      .row
        .col-xs-4
          .section-line.mb26

    .container
      .row
        .col-xs-12
          p.text Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
    
    .adress
      .container
        .row
          .col-xs-6
            h3.fz30.text-roboto г. Краснодар, <br> ул. Ставропольская 352
            .row
              .col-xs-10
                .section-line.mb26
            p.fz20 Контактное лицо: Иванов Иван Иванович
            p.fz20 Телефон: +7 (500) 512-52-52
            p.fz20 E-mail: mail@mail.ru
            p.fz20 Часы работы: с 9:00 до 18:00
          .col-xs-6
            .map
              <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=V0vW_ZvUFgy-Et7D7kTS9OwCRFfbZg9C&width=570&height=300"></script>
    
    .container
      .row
        .col-xs-12
          .orange-line
    
    .adress
      .container
        .row
          .col-xs-6
            h3.fz30.text-roboto г. Москва, <br> ул. Ставропольская 352
            .row
              .col-xs-10
                .section-line.mb26
            p.fz20 Контактное лицо: Иванов Иван Иванович
            p.fz20 Телефон: +7 (500) 512-52-52
            p.fz20 E-mail: mail@mail.ru
            p.fz20 Часы работы: с 9:00 до 18:00
          .col-xs-6
            .map
              <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=jV8xzeiuoj4p9e1TXhAkhJrdAqOWRJWA&width=570&height=300"></script>
