extends meta/_layout

block variables
  -var form = true
  -var top_menu = false
  -var teaser = false

block header
  header.main.pr
    .menu-block
      .menu.pr.table-center
        ul.lsn.pl0.mb0.clearfix
          li.pull-left: a(href='/') Главная
          li.pull-left: a(href='/about.html') О компании
          li.pull-left: a(href='/news.html') Новости и аналитика
          li.pull-left: a(href='#') Услуги

    .container
      .row
        .col-xs-6
          .center.clearfix.table-center
            .left.pull-left
              h1.text-uppercase.text-white.fz39 Mana
              h3.text-center.text-uppercase.text-white.fz18 Юридическая<br> фирма
            .white-line
            .right.pull-left
              h2.text-uppercase.text-white.fz43 Корпоративное<br> право
          .bottom.text-white.table-center
            p.text-center.fz17.mb0
              |Стремление к лучшему
              span.text-roboto для клиента результату
        .col-xs-6
          .big-white-border
          .block-slider
            -for(var i = 0; i < 4; i++)
              img(src="http://lorempixel.com/561/25#{i}/" alt="")

block slider
  .container
    section.slider-wrap.clearfix.pr
      #arrow-left-wrpap
        #arrow-left
      .slider
        .slide.create
          header
            p.mb0.text-center.text-white Создание и правовое <br> сопровождения компаний (ООО, АО)
            .overlay
          ul.lsn.mb0
            li Регистрация ООО, АО, юридических лиц иных форм
            li Реорганизация, ликвидация
            li Внесение изменений<br> в устав (учредительные<br> документы)
            li Юридическое сопровождение бизнеса
        .slide.corporate
          header
            p.mb0.text-center.text-white Корпоративное управление <br> и раскрытие информации
            .overlay
          ul.lsn.mb0
            li Организация системы корпоративного управления
            li Подготовка документов, регулирующих деятельность
            li Сопровождение корпоративных процедур
            li Раскрытие информации
        .slide.support
          header
            p.mb0.text-center.text-white Сопровождение <br> сделок
            .overlay
          ul.lsn.mb0
            li Купля-продажа доли, акций, продажа бизнеса, активов
            li Структурирование сделки, подготовка документов
            li Совместные предприятия, стратегические альянсы, инвестиционные проекты
            li Юридическая проверка (legal due diligence)
        .slide.area
          header
            p.mb0.text-center.text-white Региональное <br> предствавительство
            .overlay
          ul.lsn.mb0
            li Создание региональных представительств, филиалов
            li Ведение переговоров и разработка договоров
            li Проверка контрагентов
            li Юридическое сопровождение филиалов (представительств), дочерних обществ
        .slide.questions
          header
            p.mb0.text-center.text-white Юридические вопросы обращения <br> ценных бумаг
            .overlay
          ul.lsn.mb0
            li Сопровождение процедуры эмиссии ценных бумаг
            li Регистрация выпуска акций (иных эмиссионных ценных бумаг)
            li Предоставление отчета об итогах выпуска
            li Консультирование по вопросам размещения и обращения ценных бумаг
      #arrow-right-wrap
        #arrow-right

block news
  .container
    .row
      .col-xs-12
        h3.section-title Новости и аналитика

  .container
    .row
      .col-xs-4
        .section-line.mb26

  section.news
    .container
      .row
        .col-xs-6
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
        .col-xs-6
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
          .media
            .media-left.media-middle
              img(src='img/demo_news_img.jpg')
            .media-body
              h3.title.fz20.mt0
                a(href='') Нажав на кнопку
              p.text.fz15 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
