extends meta/_layout

block title
  title News page

block variables
  -var top_menu = true
  -var form = false
  -var teaser = true
  
block content
  section.about
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Новости и аналитика

    .container
      .row
        .col-xs-4
          .section-line.mb26

    .container
      .row
        .col-xs-12
          p.text Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам. <br> Нажав на кнопку «Написать реферат», вы лично причем я на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
    
    .news-wrap
      -for(var i = 0; i < 4; i++)
        .news.container
          .row
            .col-xs-12
              .bordered-block
                .row
                  .col-xs-2
                    .news-img
                  .col-xs-10
                    .news-title.text-tailor
                      a(href="").title
                        h3.mt0.fz20 Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образомНажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем я на кнопку зависит, какой именно текст получится — таким образом
                    span.db.news-time 10.05.2015
                    .media
                      .media-body
                        .news-text.text-tailor
                          p.mb0 Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».Президиум Верховного Суда Российской Федерации 4 декабря 2013 года утвердил «Обзор практики разрешения судами споров, возникающих в связи с участием граждан в долевом строительстве многоквартирных домов и иных объектов недвижимости».
                      .media-right.media-middle
                        a(href="").button.news-button Подробнее
                        
    nav.table-center
      ul.pagination.pagination-orange
        li.disabled
          a(href="#" aria-label="Previous")
            span(aria-hidden="true") &laquo
        li.active: a(href="#") 1
        -for(var i = 0; i < 2; i++)
          li: a(href="#") #{i + 2}
        
        li
          a(href="#" aria-label="Previous")
            span(aria-hidden="true") &raquo
