extends meta/_layout

block title
  title Service page

block variables
  -var top_menu = true
  -var form = false
  -var teaser = true
  
block content
  section.services
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Сервис по регистрации юридического лица

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .big-ico-block
      .container
        .row
          .col-xs-4
            .icon.text-orange.text-center.icon-mail-1
            p.text.text-center 
              span 1.
              |Заполняете форму <br> (заявку)
          .col-xs-4
            .icon.text-orange.text-center.icon-folder-open
            p.text.text-center 
              span 2.
              |Готовим необходимые <br> документы
          .col-xs-4
            .icon.text-orange.text-center.icon-edit
            p.text.text-center 
              span 3.
              |Подписываем договор, <br> оплата услуг и пошлин
    
      .container
        .row
          .col-xs-4
            .icon.text-orange.text-center.icon-archive
            p.text.text-center 
              span 4.
              |Подаем документы <br> на регистрацию
          .col-xs-4
            .icon.text-orange.text-center.icon-export
            p.text.text-center 
              span 5.
              |Получаем документы <br> и передаем вам
          .col-xs-4
            .icon.text-orange.text-center.icon-users
            p.text.text-center 
              span 6.
              |Юридическое <br> сопровождение
    
    .container
      .row
        .col-xs-12
          p.fz16: b Вам необязательно заполнять все пункты заявки.
          p.fz16 Всю необходимую для создания информацию мы вместе обсудим дополнительно.
          p.fz16: b Вместо заполнения заявки на сайте Вы можете направить нам по электронной почте специальную анкету.
          
          a(href='#').fz16.db.orange-link Скачать анкету для создания (регистрации) общества с ограниченной ответственностью (ООО)
          a(href='#').fz16.db.orange-link.mb5 Скачать анкету для создания (регистрации) акционерного общества (АО)
          
          p.fz16: b Стоимость услуг и расходы:
          ul.lsn.pl0
            li регистрация ООО – от 30 000 рублей;
            li регистрации АО* – от 50 000 рублей;
          p расходы – государственная пошлина – 4 000 рублей; услуги нотариуса (удостоверение подписи на заявлении и доверенности) – до 5 000 рублей. <br>
            |* В течение 30 дней после регистрации АО также необходимо зарегистрировать выпуск акций в ЦБ РФ. 
            a(href="#").orange-link Подробнее о регистрации выпуска акций.
          
          form.form-inline.orange-form
            h3 Ваши контактные данные
            .row
              .col-xs-4
                .form-group
                  label(for="exampleInputName2").mr15 1. Имя
                  input(type="text" class="form-control" id="exampleInputName2" placeholder="")
              .col-xs-4
                .form-group
                  label(for="exampleInputName2").mr15 2. Телефон
                  input(type="text" class="form-control" id="exampleInputName2" placeholder="")
              .col-xs-4
                .form-group
                  label(for="exampleInputName2").mr15 3. E-mail
                  input(type="email" class="form-control" id="exampleInputName2" placeholder="")
            
            .form-group
              .row
                .col-xs-5
                  label(for="exampleInputName2") 4. Организационно-правовая форма (ООО / АО / иная)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2").mt0 5. Наименование (полное; сокращенное; на английском языке – не обязательно)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2") 6. Место нахождения (адрес)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2") 7. Виды деятельности*
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p * Опишите своими словами или выберите из классификатора 
                    a(href="#").orange-link (скачать ОКВЭД). <br>
                    |Указываемые в заявлениях коды должны содержать не менее 4-х цифровых знаков кода вида деятельности по ОКВЭД
              .row
                .col-xs-5
                  label(for="exampleInputName2") 8. Учредители* и размеры долей / количество акций
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p *	Для физических лиц – ФИО, дата и место рождения, ИНН, место жительства, паспортные данные (номер, дата выдачи, кем выдан, код подразделения), телефон, e-mail. <br> Для юридических лиц – ИНН / ОГРН, место нахождения, телефон, e-mail, данные представителя (ФИО, должность, дата и место рождения, ИНН, паспортные данные)
              .row
                .col-xs-5
                  label(for="exampleInputName2") 9. Уставный капитал: размер и порядок оплаты*
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p * <b>ООО</b>. Минимальный размер 10 000 рублей. С 5 мая 2014 года исключена обязанность учредителей ООО по оплате половины уставного капитала на момент регистрации ООО. Учредитель оплачивает свою долю в уставном капитале в определенный договором об учреждении (решением единственного учредителя) срок, но не позднее четырех месяцев с момента регистрации. <br><b>АО</b>. Для непубличного АО – минимальный размер 10 000 рублей. Для публичного АО –100 000 рублей. Уставный капитал должен быть оплачен в течение 1 года, при этом 50% должно вноситься в течение 3х месяцев после государственной регистрации. <br><b>ООО и АО</b>. Минимальный размер уставного капитала компании должен быть оплачен только денежными средствами. Денежная оценка неденежного вклада должна быть проведена независимым оценщиком.
              .row
                .col-xs-5
                  label(for="exampleInputName2") 10. Единоличный исполнительный орган (генеральный директор / директор)*, срок полномочий
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-12
                  p * ФИО, должность, дата и место рождения, ИНН, место жительства, паспортные данные (номер, дата выдачи, кем выдан, код подразделения), телефон, e-mail
              .row
                .col-xs-5
                  label(for="exampleInputName2").mt0 11. Структура органов управления (общее собрание, совет директоров, правление), компетенция
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
              .row
                .col-xs-5
                  label(for="exampleInputName2") 12. Система налогообложения (общая / УСН)
                .col-xs-7
                  input(type="text" class="form-control w100p" id="exampleInputName2" placeholder="")
                  
              .row
                .col-xs-12
                  h3 Пакет документов для регистрации включает:
                  ul.lsn.pl0
                    li 1. Заявление по установленной форме;
                    li 2. Решение о создании, оформленное решением единственного учредителя или протоколом общего собрания учредителей;
                    li 3. Устав (представляется в двух подлинных экземплярах);
                    li 4. Квитанция об уплате государственной пошлины в размере 4000 рублей.
              
              .row
                .col-xs-12
                  input(type="checkbox").checkbox#checkbox
                  label(for="checkbox").cur Настоящим я даю согласие на обработку указанных мной персональных данных для целей оказания юридической помощи (подготовка документов, представление и защита интересов) до даты отзыва согласия.
              .row
               .col-xs-12
                button(type="submit") Отправить данные для регистрации юридического лица
