extends meta/_layout

block title
  title Service info page

block variables
  -var top_menu = true
  -var form = true
  -var teaser = true

block content
  section.services
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Корпоративное управление и раскрытие информации

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .container
      .row
        .col-xs-12
          em Надежность и оперативность

    .container
      .row
        .col-xs-12
          .big-list
            ul.lsn
              li
                span.list-number 1.
                |Организация и анализ системы корпоративного управления, проверка соответствия законодательным требованиям; выявление рисков и выработка рекомендаций по минимизации выявленных рисков;
              li
                span.list-number 2.
                |Подготовка документов, регулирующих деятельность органов компании;
              li
                span.list-number 3.
                |Подготовка, созыв, проведение общих собраний акционеров (участников), заседаний совета директоров; представление интересов на общих собраниях акционеров (участников);
              li
                span.list-number 4.
                |Обязательное раскрытие информации;
              li
                span.list-number 5.
                |Осуществление функций корпоративного секретаря либо оказание корпоративному секретарю юридической поддержки;
              li
                span.list-number 6.
                |Медиация (посредничество) при урегулировании корпоративных конфликтов и разделении бизнеса;
              li
                span.list-number 7.
                |Представление интересов в отношениях с другими участниками (акционерами); подготовка корпоративных договоров, акционерных соглашений.

    .container
      .row
        .col-xs-12
          .orange-block
            h3.text-uppercase Корпоративное управление
            p Корпоративное управление – система взаимоотношений между менеджментом компании, его советом директоров, акционерами (участниками) и другими заинтересованными сторонами. Корпоративное управление является инструментом для определения целей компании и средств достижения этих целей, а также обеспечения эффективного контроля за деятельностью компании со стороны акционеров (участников) и других заинтересованных сторон.
            p Система корпоративного управления в компании влияет не только на текущие доходы компании, но и на будущее бизнеса в самом широком смысле. Достаточный уровень информационной прозрачности, ясности в процессе принятия корпоративных решений, возможность участия в принятии решений дает дополнительные гарантии и имеет существенное значение для инвесторов.
            p Система корпоративного управления призвана создать систему сдержек и противовесов, учитывающую интересы различных сторон. Недостаточный уровень корпоративного управления провоцирует возникновение различных конфликтных ситуаций во взаимоотношениях владельцев бизнеса между собой, с менеджментом и иными заинтересованными лицами.

    .container
      .row
        .col-xs-12
          .text-collapse
            .cur.no-select.collapse-title(data-target='#collapse-one' data-toggle='collapse')
              h3.mt0.mb0.text-uppercase Вопросы корпоративного управления
                span.more (подробнее)
            .collapse-body#collapse-one.collapse
              p В связи с вступлением с 01.09.2014 в силу Федерального закона от 05.05.2014 № 99-ФЗ "О внесении изменений в главу 4 части первой Гражданского кодекса Российской Федерации и о признании утратившими силу отдельных положений законодательных актов Российской Федерации" (далее – Закон № 99-ФЗ) Банк России сообщает следующее.
              p 1. Закон № 99-ФЗ исключает из Гражданского кодекса Российской Федерации понятие типов акционерных обществ (открытые и закрытые) и вводит понятие публичных и непубличных акционерных обществ. Вместе с тем, до приведения устава в соответствие с ГК РФ в редакции Закона № 99-ФЗ, открытые и закрытые акционерные общества сохраняют свое наименование и к ним применяются положения законодательства Российской Федерации в части, не противоречащей ГК РФ в редакции Закона.
              p 2. Положения об открытых акционерных обществах применяются к публичным акционерным обществам в части, не противоречащей ГК РФ в редакции Закона № 99-ФЗ (пункт 1.1 статьи 1 Федерального закона от 26.12.1995 № 208-ФЗ "Об акционерных обществах" в редакции Федерального закона от 21.07.2014 № 218-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации").
              p Открытые и закрытые акционерные общества, осуществлявшие до 01.09.2014 раскрытие информации в соответствии со статьей 92 Закона об акционерных обществах продолжают осуществлять указанное обязательное раскрытие информации.
              p Публичное акционерное общество после 01.09.2014 обязано раскрывать информацию в соответствии со статьей 92 Закона об акционерных обществах. Требования к составу информации, подлежащей обязательному раскрытию акционерными обществами, которые привели устав в соответствие с ГК РФ в редакции Закона № 99-ФЗ и не являющимися публичными, а также к порядку и срокам раскрытия такой информации будут установлены законодательством Российской Федерации при его приведении в соответствие с Законом № 99-ФЗ.
              p У публичных акционерных обществ, а также у акционерных обществ, не являющихся публичными (открытых и закрытых акционерных обществ до приведения их уставов в соответствие с ГК РФ в редакции Закона № 99-ФЗ), которые обязаны раскрывать информацию в соответствии со статьей 30 Федерального закона от 22.04.1996 № 39-ФЗ "О рынке ценных бумаг", соответствующая обязанность с 01.09.2014 не прекращается. При этом сам по себе статус публичного акционерного общества не является основанием для возникновения обязанности по раскрытию информации в соответствии со статьей 30 Закона о рынке ценных бумаг  .
              p После 01.09.2014 как публичное акционерное общество, так и акционерное общество, не являющееся публичным, у которых в соответствии с пунктом 4 статьи 30 Закона о рынке ценных бумаг есть обязанность по раскрытию информации, вправе обратиться с заявлением об освобождении от указанной обязанности в случае, если они соответствуют требованиям, установленным статьей 30.1 Закона о рынке ценных бумаг.

    .container
      .row
        .col-xs-12
          .orange-block
            h3.text-uppercase Раскрытия информации
            ol
              li Сопровождение раскрытия информации и подготовка необходимых документов;
              li Раскрытие информации о выпуске (дополнительном выпуске) ценных бумаг; раскрытие в форме ежеквартального отчета, сообщений о существенных фактах; подготовка сведений об аффилированных лицах;
              li Взаимодействие с уполномоченными информационными агентствами;
              li Консультирование по вопросам порядка раскрытия информации;
              li Разработка внутреннего регламента о раскрытии информации.
            p Корпоративное управление – система взаимоотношений между менеджментом компании, его советом директоров, акционерами (участниками) и другими заинтересованными сторонами. Корпоративное управление является инструментом для определения целей компании и средств достижения этих целей, а также обеспечения эффективного контроля за деятельностью компании со стороны акционеров (участников) и других заинтересованных сторон.
            p Система корпоративного управления в компании влияет не только на текущие доходы компании, но и на будущее бизнеса в самом широком смысле. Достаточный уровень информационной прозрачности, ясности в процессе принятия корпоративных решений, возможность участия в принятии решений дает дополнительные гарантии и имеет существенное значение для инвесторов.
            p Система корпоративного управления призвана создать систему сдержек и противовесов, учитывающую интересы различных сторон. Недостаточный уровень корпоративного управления провоцирует возникновение различных конфликтных ситуаций во взаимоотношениях владельцев бизнеса между собой, с менеджментом и иными заинтересованными лицами.

    .container
      .row
        .col-xs-12
          .text-collapse
            .cur.no-select.collapse-title(data-target='#collapse-two' data-toggle='collapse')
              h3.mt0.mb0.text-uppercase Разъяснение по вопросу раскрытия информации в связи с исключение деления акционерных обществ на открытые и закрытые
                span.more (подробнее)
            .collapse-body#collapse-two.collapse
              p В связи с вступлением с 01.09.2014 в силу Федерального закона от 05.05.2014 № 99-ФЗ "О внесении изменений в главу 4 части первой Гражданского кодекса Российской Федерации и о признании утратившими силу отдельных положений законодательных актов Российской Федерации" (далее – Закон № 99-ФЗ) Банк России сообщает следующее.
              p 1. Закон № 99-ФЗ исключает из Гражданского кодекса Российской Федерации понятие типов акционерных обществ (открытые и закрытые) и вводит понятие публичных и непубличных акционерных обществ. Вместе с тем, до приведения устава в соответствие с ГК РФ в редакции Закона № 99-ФЗ, открытые и закрытые акционерные общества сохраняют свое наименование и к ним применяются положения законодательства Российской Федерации в части, не противоречащей ГК РФ в редакции Закона.
              p 2. Положения об открытых акционерных обществах применяются к публичным акционерным обществам в части, не противоречащей ГК РФ в редакции Закона № 99-ФЗ (пункт 1.1 статьи 1 Федерального закона от 26.12.1995 № 208-ФЗ "Об акционерных обществах" в редакции Федерального закона от 21.07.2014 № 218-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации").
              p Открытые и закрытые акционерные общества, осуществлявшие до 01.09.2014 раскрытие информации в соответствии со статьей 92 Закона об акционерных обществах продолжают осуществлять указанное обязательное раскрытие информации.
              p Публичное акционерное общество после 01.09.2014 обязано раскрывать информацию в соответствии со статьей 92 Закона об акционерных обществах. Требования к составу информации, подлежащей обязательному раскрытию акционерными обществами, которые привели устав в соответствие с ГК РФ в редакции Закона № 99-ФЗ и не являющимися публичными, а также к порядку и срокам раскрытия такой информации будут установлены законодательством Российской Федерации при его приведении в соответствие с Законом № 99-ФЗ.
              p У публичных акционерных обществ, а также у акционерных обществ, не являющихся публичными (открытых и закрытых акционерных обществ до приведения их уставов в соответствие с ГК РФ в редакции Закона № 99-ФЗ), которые обязаны раскрывать информацию в соответствии со статьей 30 Федерального закона от 22.04.1996 № 39-ФЗ "О рынке ценных бумаг", соответствующая обязанность с 01.09.2014 не прекращается. При этом сам по себе статус публичного акционерного общества не является основанием для возникновения обязанности по раскрытию информации в соответствии со статьей 30 Закона о рынке ценных бумаг  .
              p После 01.09.2014 как публичное акционерное общество, так и акционерное общество, не являющееся публичным, у которых в соответствии с пунктом 4 статьи 30 Закона о рынке ценных бумаг есть обязанность по раскрытию информации, вправе обратиться с заявлением об освобождении от указанной обязанности в случае, если они соответствуют требованиям, установленным статьей 30.1 Закона о рынке ценных бумаг.

    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Корпоративное управление и раскрытие информации

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .container
      .row
        .col-xs-12
          .big-links
            ul.pl0.lsn
              li: a(href='#').db.text-roboto Раскрытие информации: обязанность и порядок
              li: a(href='#').db.text-roboto Общее собрание участников и общее собрание акционеров: созыв и порядок проведения
              li: a(href='#').db.text-roboto Методика самооценки качества корпоративного управления
