extends meta/_layout

block title
  title Service page

block variables
  -var top_menu = true
  -var form = true
  -var teaser = true
  
block content
  section.services
    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Юридические услуги корпоративная практика

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .container
      .row
        .col-xs-12
          .services-wrap
            .media.services-item
              .media-left.media-middle
                .number
                  p 1
              .media-body
                h3.head 
                  a(href='#').text-orange Создание компаний и правовое сопровождение бизнеса
                ol
                  li Подготовка учредительных документов, создание компаний (ООО, АО, юридических лиц иных организационно-правовых форм) 
                  li Реорганизация, ликвидация 
                  li Внесение изменений в устав (учредительные документы) 
                  li Подготовка и юридический анализ договоров 
                  li Защита прав в суде 
                  li Представление интересов в государственных органах
            .media.services-item
              .media-left.media-middle
                .number
                  p 2
              .media-body
                h3.head 
                  a(href='#').text-orange Сопровождение сделок
                ol
                  li Купля-продажа доли ООО, акций, бизнеса, активов
                  li Структурирование сделки, подготовка документов
                  li Правовая поддержка при переговорах
                  li Совместные предприятия, стратегические альянсы, инвестиционные проекты
                  li Юридическая проверка (legal due diligence)
            .media.services-item
              .media-left.media-middle
                .number
                  p 3
              .media-body
                h3.head 
                  a(href='#').text-orange Корпоративное управление и раскрытие информации
                ol
                  li Организация системы корпоративного управления
                  li Подготовка документов, регулирующих деятельность органов компании
                  li Подготовка, созыв и проведение общих собраний акционеров (участников), заседаний совета директоров
                  li Раскрытие информации
            .media.services-item
              .media-left.media-middle
                .number
                  p 4
              .media-body
                h3.head 
                  a(href='#').text-orange Юридические вопросы обращения ценных бумаг
                ol
                  li Сопровождение процедуры эмиссии ценных бумаг
                  li Регистрация выпуска акций (иных эмиссионных ценных бумаг)
                  li Предоставление отчета об итогах выпуска
                  li Консультирование по вопросам размещения и обращения ценных бумаг
            .media.services-item
              .media-left.media-middle
                .number
                  p 5
              .media-body
                h3.head 
                  a(href='#').text-orange Региональное представительство
                ol
                  li Создание региональных представительств, филиалов
                  li Ведение переговоров и разработка договоров
                  li Проверка контрагентов
                  li Юридическое сопровождение филиалов (представительств), дочерних обществ
            //- .media.services-item
              .media-left.media-middle
                .number
                  p 6
              .media-body
                h3.head 
                  a(href='#').text-orange Юридическая фирма "МАНА"
                ol
                  li Компетентные юристы, имеющие многолетний опыт работы в сфере корпоративного права и правового сопровождения бизнеса;
                  li Оперативность и высокое качество работы;
                  li Эффективное решение бизнес-задач; полезность и реальная выгода для клиента;
                  li Надежность и непреклонность в отстаивании интересов клиента

    .section-head
      .container
        .row
          .col-xs-12
            h3.section-title Аналитика, обзоры, разъяснения

    .container
      .row
        .col-xs-10
          .section-line.mb26

    .container
      .row
        .col-xs-11.col-xs-offset-1
          .big-links
            ul.pl0.lsn
              li: a(href='#').db.text-roboto ООО или АО: основные отличия организационно-правовых форм
              li: a(href='#').db.text-roboto Регистрация выпуска акций и иных эмиссионных ценных бумаг
              li: a(href='#').db.text-roboto Раскрытие информации: основания и порядок
              li: a(href='#').db.text-roboto Общее собрание участников и общее собрание акционеров: созыв и порядок проведения
    
    .container
      .row
        .col-xs-12
          .big-button.table-center
            a(href='#').text-uppercase.text-orange.db Онлайн-сервис по регистрации компании
