body{
  min-width: 1200px;
  font-family: $tahoma;
}

.section-title{
  font-size: 35px;
  font-family: $roboto;
  margin-top: 0;
}

.section-line{
  height: 2px;
  background: #616262;
}

.teaser{
  height: 50px;
  background: url(../img/bg_section.jpg) center center no-repeat;
}

.orange-line{
  height: 2px;
  background: $orange;
}

.section-head{
  padding-top: 44px;
  p.text{
    line-height: 24px;
    color: #686868;
  }
}

.button{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  &:hover,&:focus,&:active{
    text-decoration: none;
  }
}

.news-button{
  color: $orange;
  border: 1px solid $orange;
  font-size: 20px;
  padding: 9px 32px;
  &:hover{
    color: white(1);
    border-color: $orange;
    background: $orange;
  }
}

.pagination-orange{
  margin: 2px 0 64px;
  >.disabled{
    >a,
    >span{
      border-color: #616161;
      &:hover, &:active, &:focus{
        border-color: #616161;
      }
    }
  }
  >li
    >a,
    >span{
      padding: 9px 19px;
      border-color: #616161;
      color: #616161;
      &:hover, &:active, &:focus{
        background: $orange;
        color: white(1);
        border-color: $orange;
      }
    }
  >li.active{
    >a,
    >span{
      color: $orange;
      border-color: #616161;
      background: white(1);
      font-size: 16px;
      padding: 8px 19px;
      &:hover, &:active, &:focus{
        background: $orange;
        color: white(1);
        border-color: $orange;
      }
    }
  }
}

.selected-text{
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  border-top:2px solid $orange;
  border-bottom:2px solid $orange;
  margin-bottom: 30px;
  margin-top: 30px;
  >p{
    &:last-child{
      margin-bottom: 0;
    }
  }
}
