.top-section{
  background: $gray-black;
  color: $gray-text;
  .top{
    border-bottom: 1px solid #121315;
    height: 30px;
    a{
      color: white(1);
    }
    .email{
      height: 30px;
      border-left: 1px solid #121315;
    }
    .adress{
      padding-top: 2px;
      span[class^='icon-']{
        margin-left: -3px;
        margin-right: 5px;
      }
    }
    .email{
      padding-top: 2px;
      span[class^='icon-']{
        margin-left: 11px;
        margin-top: 1px;
        margin-right: 7px;
      }
    }
    .social{
      padding-top: 2px;
      ul{
        margin-left: 10px;
        padding-top: 1px;
      }
      p{
        margin-top: 4px;
      }
      a{
        padding: 0 0 0 2px;
        color: $gray-text;
        &:hover{
          color: $orange;
        }
      }
    }
  }
  .bottom{
    padding-top: 2px;
    height: 67px;
    background: #616161;
    a{
      color: white(1);
    }
    .menu{
      li.active{
        a{
          border-bottom: 2px solid $orange;
        }
      }
      a{
        padding: 22px 7px 19px;
        border-bottom: 2px white(0) solid;
        &:hover{
          border-bottom: 2px solid $orange;
        }
      }
    }
    .logo{
      .title{
        padding-top: 8px;
        padding-left: 74px;
        margin-bottom: 0;
      }
      .description{
        padding-left: 74px;
        margin-top: -5px;
        font-family: $roboto;
      }
    }
    .phone{
      padding-top: 9px;
      span[class^='icon-']{
        margin-top: -13px;
        margin-right: 19px;
      }
    }
  }
}

header.main{
  background: url('../img/bg_header.jpg') top center no-repeat;
  padding-bottom: 22px;
  margin-bottom: 50px;
  position: relative;
  .menu-block{
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: 102;
    // margin-bottom: 118px;
  }
  .big-white-border{
    background: #FFF;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .block-slider{
    padding-left: 15px;
  }
  .menu{
    background: white(1);
    position: relative;
    &:before{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -36px;
      z-index: 3;
      border-style: solid;
      border-width: 0 37px 37px 0;
      border-color: transparent white(1) transparent transparent;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: -36px;
      z-index: 3;
      border-style: solid;
      border-width: 37px 37px 0 0;
      border-color: white(1) transparent transparent transparent;
    }
    a{
      padding: 7px 19px 8px 20px;
      color: #38393f;
      display: block;
      border-bottom: 2px solid white(1);
      &:hover{
        text-decoration: none;
        border-bottom: 2px solid $orange;
      }
      &:active, &:focus{
        text-decoration: none;
      }
    }
  }
  .center{
    margin-bottom: 23px;
    padding-top: 87px;
    h1,
    h2,
    h3{
      font-weight: normal !important;
    }
    .left,
    .right{
      // height: 122px;
    }
    .left{
      h1{
        border-bottom: 1px solid white(1);
        margin: 0;
        margin-top: -15px;
        letter-spacing: 13px;
        text-align: center;
        line-height: 45px;
      }
      h3{
        margin: 0;
        margin-top: 8px;
      }
    }
    .white-line{
      width: 1px;
      height: 82px;
      background: #FFF;
      float: left;
      margin: -6px 10px 0 10px;
    }
    .right{
      h2{
        margin: 0;
        margin-top: -18px;
        line-height: 51px;
      }
    }
  }
  .bottom{
    border-top: 1px white(1) solid;
    border-bottom: 1px white(1) solid;
    p{
      border-bottom: 1px white(1) solid;
      line-height: 31px;
      span{
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
}

.slider-wrap{
  margin-bottom: 63px;
  .bx-wrapper{
    float: left;
    margin-left: 30px !important;
  }
  #arrow-left-wrap,
  #arrow-right-wrap{
    width: 30px;
    min-height: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #arrow-left-wrap{
    left: 0;
  }
  #arrow-right-wrap{
    right: 0;
  }
  #arrow-left,
  #arrow-right{
    width: 30px;
    height: 160px;
    background: #cecece;
    margin-top: -80px;
    position: absolute;
    top: 50%;
    a{
      display: block;
      height: 160px;
    }
    span{
      position: absolute;
      margin-top: -11px;
      top: 50%;
      z-index: 1;
      color: white(1);
      left: 4px;
    }
  }
  #arrow-left{
    &:hover{
      background: #959595;
      &:before{
        border-color: transparent transparent #959595 transparent;
      }
      &:after{
        border-color: transparent #959595 transparent  transparent;
      }
      a{
        color: white(1);
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: -30px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 30px 30px;
      border-color: transparent transparent #cecece transparent;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 30px 30px 0;
      border-color: transparent #cecece transparent  transparent;
    }
    a{
      font-size: 16px;
      color: $orange;
      position: relative;
      text-decoration: none;
      &:before{
        content: '\e80b';
        font-family: 'fontello';
        position: absolute;
        top: 50%;
        margin-top: -11px;
        left: 50%;
        margin-left: -7px;
      }
    }
  }
  #arrow-right{
    &:hover{
      background: #959595;
      &:before{
        border-color: transparent transparent transparent #959595;
      }
      &:after{
        border-color: #959595 transparent transparent  transparent;
      }
      a{
        color: white(1);
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: -30px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 0 0 30px;
      border-color: transparent transparent transparent #cecece;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 0;
      border-color: #cecece transparent transparent  transparent;
    }
    a{
      font-size: 16px;
      color: $orange;
      position: relative;
      &:before{
        content: '\e80c';
        font-family: 'fontello';
        position: absolute;
        top: 50%;
        margin-top: -11px;
        left: 50%;
        margin-left: -7px;
      }
    }
  }
  .slide{
    background: #e1e1e1;
    width: 360px;
    float: left;
    &:nth-child(2n){
      background: #F2F0F0;
    }
    &.create{
      header{
        background-position: 0 0;
      }
    }
    &.corporate{
      header{
        background-position: 0 -98px;
      }
    }
    &.support{
      header{
        background-position: 0 -196px;
      }
    }
    &.questions{
      header{
        background-position: 0 -392px;
      }
    }
    &.area{
      header{
        background-position: 0 -294px;
      }
    }
    &:hover{
      background: #f2f0f0;
      header{
        // background: $orange;
      }
      ul{
        background: #f2f0f0;
      }
      li{
        border-bottom: 1px solid $orange;
      }
      .overlay{
        display: block;
      }
    }
    header{
      background: url(../img/bg_slide_sprite.jpg);
      font-size: 20px;
      padding: 21px 5px;
      position: relative;
      p{
        position: relative;
        z-index: 1;
      }
      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($orange, .5);
        display: none;
      }
    }
    ul{
      // background: #e1e1e1;
      padding: 0 25px;
    }
    li{
      font-family: $roboto;
      font-size: 20px;
      padding: 0 28px;
      border-bottom: 1px solid #a0a0a0;
      padding: 13px 20px 21px 20px;
      line-height: 32px;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}

section.news{
  margin-bottom: 45px;
  .media{
    margin-bottom: 18px;
  }
  .title{
    margin-bottom: 7px;
    a{
      padding-bottom: 3px;
      padding-right: 10px;
      display: inline-block;
      text-decoration: none;
      color: black(1);
      &:hover{
        text-decoration: none;
        border-right: 2px solid $orange;
      }
    }
  }
  .text{
    line-height: 24px;
    color: #686868;
    margin-bottom: 0;
  }
  .media-left{
    padding-right: 28px;
  }
}

section.form{
  padding-bottom: 41px;
  border-top: 4px solid $orange;
  background: url(../img/bg_section.jpg) top center no-repeat;
  padding-top: 35px;
  .form-title{
    border-top: 1px white(1) solid;
    border-bottom: 4px white(1) solid;
    margin-top: 0;
    padding: 0 93px 14px;
    margin-bottom: 40px;
    span{
      display: inline-block;
      margin-left: 20px;
    }
  }
  .icon-resize-vertical{
    position: relative;
    z-index: 1;
    top: -4px;
  }
  form{
    input[type='text'],
    input[type='email'],
    textarea{
      width: 100%;
      display: block;
      background: white(0);
      border-color: white(1);
      border-width: 1px 1px 3px 1px;
      border-style: solid;
      text-align: center;
      color: white(1);
      margin-bottom: 20px;
      font-size: 18px;
      font-family: $roboto;
      @include placeholder {
        color: white(1);
        font-family: $tahoma;
      }
    }
    input[type='text'],
    input[type='email']{
      height: 50px;
    }
    textarea{
      height: 190px;
      margin-bottom: 30px;
    }
    button[type='submit']{
      width: 100%;
      border: 6px solid white(1);
      background: white(0);
      height: 70px;
      font-size: 35px;
      &:hover{
        background: white(0.2);
      }
      &:active{
        background: #E1E1E1;
      }
    }
  }
  .form-info{
    h4{
      margin-top: -5px;
      border-bottom: 1px solid white(1);
      padding-bottom: 3px;
    }
    .media-left{
      padding-right: 21px;
    }
    p{
      margin-bottom: 0;
    }
    [class^='icon-']{
      margin-left: -6px;
    }
    .icon-mobile-1{
      margin-top: -6px;
    }
    .icon-mail{
      margin-top: -9px;
    }
  }
  a{
    color: white(1);
  }
}

section.before-footer{
  background: #E1E1E1;
  border-top: 4px solid $orange;
  .title{
    background: $orange;
    height: 150px;
    width: 170px;
    h4{
      line-height: 150px;
      margin: 0;
    }
  }
  ul{
    padding-top: 21px;
    padding-left: 0;
  }
  li{
    width: 19%;
    margin: 0 4px;
    border-right: 1px solid #6C6E74;
    min-height: 100px;
    &:last-child{
      border-right:none;
    }
    a{
      position: absolute;
      top: 50%;
      left: 50%;
      color: black(1);
      transform: translateX(-50%) translateY(-50%);

      width: 100%;
      &:hover{
        color: $orange;
      }
    }
  }
}

footer.main{
  color: #9B9C9E;
  height: 75px;
  .copyright{
    padding-top: 28px;
  }
  .footer-logo{
    text-align: right;
    padding-top: 26px;
  }
}

section.about{
  .adress{
    padding-bottom: 44px;
    padding-top: 31px;
    p{
      margin-bottom: 16px;
      color: #686868;
    }
  }
  .map{
    width: 570px;
    height: 300px;
  }
}

.news-wrap{
  padding-top: 13px;
  .title{
    color: #000;
  }
  .news-img{
    background: url(../img/bg_news_item1.jpg);
    width: 170px;
    height: 170px;
  }
  .news{
    h3{
      margin-bottom: 18px;
    }
    .news-title{
      height: 65px;
      @extend %overflow-hidden;
    }
    .news-text{
      height: 60px;
      @extend %overflow-hidden;
      p{
        color: #757575;
      }
    }
    .news-time{
      color: #757575;
    }
    .news-button{
      margin-left: 40px;
    }
    .bordered-block{
      padding-bottom: 30px;
      padding-top: 30px;
      border-bottom: 1px solid #000;
    }
    &:first-child{
      .bordered-block{
        padding-top: 0;
      }
    }
    &:last-child{
      .bordered-block{
        border-bottom: none;
      }
    }
    &:nth-child(2n){
      .news-img{
        background: url(../img/bg_news_item2.jpg);
      }
    }
  }
}

article.main{
  p{
    margin-bottom: 20px;
  }
}

.article-controls{
  margin-top: 30px;
  background: $orange;
  position: relative;
  margin-bottom: -3px;
  .border{
    @include position(absolute, 0 none 0 none, 1);
    background: white(1);
    left: 50%;
    margin-left: -6px;
    width: 1px;
  }
  a{
    color: white(1);
    font-size: 30px;
    font-family: $roboto;
    padding: 20px;
    text-align: center;
  }
}

section.services{
  .services-wrap{
    /* line-height: 1; */
  }
  .services-item{
    border-bottom: 2px solid #000;
    margin-bottom: 8px;
    margin-top: 10px;
    padding-bottom: 6px;
    &:last-child{
      border-bottom: none;
    }
    ol{
      padding-left: 20px;
    }
    li{
      line-height: 25px;
    }
  }
  .number{
    font-size: 100px;
    color: $orange;
    width: 93px;
  }
  .head{
    a{
      font-size: 30px;
      margin-top: 0px;
      color: $orange;
      font-family: $roboto;
      text-decoration: underline;
      &:hover, &:focus, &:active{
        text-decoration: none;
        color: $orange;
      }
    }
  }
  .big-links{
    margin-bottom: 63px;
    a{
      font-size: 26px;
      color: $orange;
      text-decoration: underline;
      &:hover, &:focus, &:active{
        text-decoration: none;
        color: $orange;
      }
    }
    li{
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  .big-button{
    margin-bottom: 68px;
    a{
      font-size: 27px;
      padding: 30px 70px;
      border: 2px $orange solid;
      font-family: $roboto;
      &:hover, &:focus, &:active{
        background:$orange;
        text-decoration: none;
        color: white(1);
      }
    }
  }
}

.text-collapse{
  margin: 10px 0;
  .collapse-title{
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    padding: 15px 19px;
    h3{
      font-weight: bold;
      font-size: 20px;
    }
    span{
      color: $orange;
      text-transform: none;
    }
  }
  .collapse-body{
    background: #F2F2F2;
    padding: 25px 30px;
    p{
      line-height: 26px;
      color: #686868;
      margin-bottom: 15px;
    }
  }
}

.orange-block{
  margin-bottom: 20px;
  h3{
    background: $orange;
    color: #FFF;
    font-weight: bold;
    padding: 23px 34px;
    font-size: 20px;
  }
  p{
    color: #686868;
  }
  ol{
    margin-top: 23px;
    padding-left: 19px;
  }
  li{
    margin-bottom: 6px;
    color: #686868;
  }
}

.big-list{
  margin-top: 15px;
  ul{
    padding: 15px 20px;
    background: #F2F2F2;
  }
  li{
    color: #686868;
    font-size: 20px;
    margin-bottom: 13px;
  }
  .list-number{
    color: $orange;
    margin-right: 10px;
  }
}

.orange-form{
  margin-top: 40px;
  input[type='text'],
  input[type='email']{
    border: 1px solid $orange;
    border-radius: 0;
    height: 40px;
  }
  label{
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
  }
  h3{
    margin-bottom: 23px;
  }
  p{
    font-size: 16px;
    color: #737070;
    b{
      color: #000;
    }
  }
  li{
    font-size: 16px;
  }
  .form-group{
    >.row{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  button[type='submit']{
    @extend %table-center;
    background: #fff;
    border: 1px $orange solid;
    color: $orange;
    font-size: 28px;
    margin-bottom: 40px;
    padding: 12px 117px;
    &:hover, &:focus,&:active{
      background: $orange;
      color: #fff;
    }
  }
}

.big-ico-block{
  margin-bottom: 55px;
  .icon{
    font-size: 100px;
  }
  span{
    color: $orange;
    font-size: 18px;
    margin-right: 5px;
  }
}

.orange-link{
  color: $orange;
  text-decoration: underline;
  &:hover{
    color: $orange;
    text-decoration: none;
  }
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 40px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px $orange solid;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;

}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  /* background: #9FD468; */
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  background-color: $orange;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {
  /* box-shadow: 0 0 0 3px rgba(255,255,0,.5); */
}
