@function opacity($color, $opacity){
  @return transparentize($color, $opacity);
}

@function black($opacity){
    @return rgba(0,0,0, $opacity);
};

@function white($opacity){
    @return rgba(255,255,255, $opacity);
};
