section.form
  h3.form-title.table-center.text-roboto.fz57.text-white Напишите свой
    span.text-tahoma.fz60 вопрос

  form.text-white
    .container
      .row
        .col-xs-3
          .form-info
            h4.fz30.text-roboto Адрес:
            .media
              .media-left.media-middle
                .icon-compass-1.text-white.fz35
              .media-body
                p.fz20 г. Краснодар,
                p.fz20 ул. Ставропольсткая
                p.fz20 253, офис 10
        .col-xs-4.col-xs-offset-1
          input(type='text' placeholder='Введите имя')
          input(type='text' placeholder='Введите телефон')
          input(type='email' placeholder='Введите e-mail')
          textarea(placeholder='Ваш вопрос')
          button(type='submit').text-uppercase Отправить
        .col-xs-3.col-xs-offset-1
          .form-info
            h4.fz30.text-roboto Контакты:
            .media
              .media-left.media-middle
                .icon-mobile-1.text-white.fz36
              .media-body
                p.fz23
                  a(href='tel:+7 (000) 000-00-00') +7 (000) 000-00-00
            .media
              .media-left.media-middle
                .icon-mail.text-white.fz36
              .media-body
                p.fz20
                  a(href='mailto:advokat@mail.ru') advokat@mail.ru
