doctype html
html(lang="ru")
  head
    block title
      title Main page

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:image", content="img/demo.jpg")
    meta(property="og:title", content="Demo jade example")
    meta(property="og:description" content="Demo jade example")

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="description", content="")

    meta(itemprop="name", content="")
    meta(itemprop="description", content="")
    meta(itemprop="image", content="")

    link(rel="icon", href="img/favicon.png", type="image/x-icon")
    link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")

    link(href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href='http://fonts.googleapis.com/css?family=Roboto:100&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    link(href="css/style.css", rel="stylesheet")

    |<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    |<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    |<!--[if lt IE 9]>
    |  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    |<![endif]-->

    block style

  body
    block variables
      -var form = true
      -var top_menu = false
      -var teaser = true

    if teaser
      .teaser

    include _top_section

    block header

    block slider

    block news

    block content

    if form == true
      block form
        include _form

    block before-footer
      section.before-footer
        .container
          .row
            .col-xs-2
              .title
                h4.text-white.text-center.fz40 Услуги:
            .col-xs-10
              ul.clearfix.lsn
                li.pull-left.fz18.text-roboto.text-center.pr
                  a(href='#').db Корпоративное управление и раскрытие информации
                li.pull-left.fz18.text-roboto.text-center.pr
                  a(href='#').db Продажа доли ООО, акций, бизнеса
                li.pull-left.fz18.text-roboto.text-center.pr
                  a(href='#').db Эмиссия ценных бумаг и регистрация акций
                li.pull-left.fz18.text-roboto.text-center.pr
                  a(href='#').db Региональное представительство
                li.pull-left.fz18.text-roboto.text-center.pr
                  a(href='#').db Создание и регистрация фирм: АО и ООО

    block footer
      footer.main
        .container
          .row
            .col-xs-6
              .copyright
                p © «Мана. Юридическая фирма» 2015. Все права защищены.
            .col-xs-6
              .footer-logo
                span.fz13 Интернет агентство -
                a(href='http://art6.ru'): img(src='img/art6_logo.png').dib

    script(src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,underscorejs@1.8.3")
    script(src="js/flux.min.js")
    script(src="js/jquery.bxslider.min.js")
    script(src="js/jquery.texttailor.min.js")
    script(src="js/main.js")

    block script
