section.top-section
  .top
    .container
      .row
        .col-xs-6.adress
          span.icon-compass-1.text-orange.fz16.dib
          span.fz12 Москва, ул. Тверская, 7 | Краснодар, ул. Новокузнечная, 36 | Красноярск, ул. Диксона, 1
        .col-xs-6
          .email.pull-left
            span.icon-mail.text-orange.fz16
            span.fz12: a(href='mailto: welcome@manalaw.ru')  welcome@manalaw.ru
          .social.pull-right
            p.mb0.fz12.pull-left Поделиться:
            ul.lsn.clearfix.pull-right.pl0.mb0
              li.pull-left
                a(onclick="Share.google('http://google.com')").cur.no-underline.fz15.db.icon-gplus
              li.pull-left
                a(onclick="Share.twitter('http://google.com','TITLE')").cur.no-underline.fz15.db.icon-twitter
              li.pull-left
                a(onclick="Share.vkontakte('http://google.com','TITLE','IMG_PATH','DESC')").cur.no-underline.fz15.db.icon-vk
              li.pull-left
                a(onclick="Share.facebook('http://google.com','TITLE','IMG_PATH','DESC')").cur.no-underline.fz15.db.icon-facebook
              li.pull-left
                a(onclick="Share.odnoklassniki('http://google.com','DESC')").cur.no-underline.fz15.db.icon-odnoklassniki
  .bottom
    .container.text-white
      .row
        .col-xs-4
          .logo.db
            a(href='#'): img(src='img/header_logo.png').pull-left
            p.title.fz22.text-uppercase Mana Corporate law
            p.description Law firm
        .col-xs-4
          if top_menu
            .menu
              ul.lsn.clearfix.pl0.mb0
                li.pull-left.active: a(href='/').db.no-underline Главная
                li.pull-left: a(href='/about.html').db.no-underline О компании
                li.pull-left: a(href='/news.html').db.no-underline Новости и аналитика
                li.pull-left: a(href='#').db.no-underline Услуги
        .col-xs-4
          .phone.pull-right
            span.icon-mobile-1.text-orange.fz36.dib
            span.fz27: a(href='tel:+7 (988) 240-89-10') +7 (988) 240-89-10
